body{
    background:#04bf58;
}

.input-block input, .select-block select, .textarea-block textarea {
    background: #daf5e6;    
    border: 1px solid var(--color-line-in-white);

}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
    background: #daf5e6;
}